{% extends 'blog/base.html' %}
<!--Extended base html file-->

{% block content %}
    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
	  	<br>
		<img class="img-fluid mb-5 d-block mx-auto" src="static/blog/img/icon.png" alt="">
		<h1 class="text-uppercase mb-0">About</h1>
		<hr class="star-light">
	  </div>
	</header>


	<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  	<div class="text-center mt-4">
			<p style="color:black" class="lead">Covid-19 Stories is a platform for people to give their personal accounts of what it was like for them to have COVID-19 (coronavirus). We aim to gather stories from people of all ages, with all forms of underlying health issues, from countries all around the globe. </p>

			<p style="color:black" class="lead">Our hope is that by presenting a wide array of experiences that cover all ages and medical backgrounds, people can be better prepared in the event that they or those they know catch the virus. Viewers can learn the signs they need to look out for, as well as what has proved helpful for other coronavirus patients who come from a similar demographic. </p>

			<p style="color:black" class="lead">We are all in this fight together. Let’s learn from each other’s experiences and help build a global community to support the millions of people around the world affected by COVID-19. </p>

			<p style="color:black" class="lead">To add your story to our collection of Coronavirus survival stories and to help other people like you, visit the Take Part section. </p>

			<p style="color:black" class="lead">Please note that the contents of this site should not be treated as medical advice. Seek help from a medical professional if concerned about your health or the health of anyone around you. </p>

		  </div>

		</div>
	</section>

{% endblock %}