{% extends 'blog/base.html' %}
<!--Extended base html file-->

{% block content %}
    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
	  	<br>
		<h1 class="text-uppercase mb-0">FAQs</h1>
		<hr class="star-light">
	  </div>
	</header>


	<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  	<div class="text-center mt-4">
	  		<h3>Where can I find additional information on Coronavirus (COVID-19)?</h3>
			<p style="color:black" class="lead">You can read more about coronavirus and the global outbreak at </p>
			<p style="color:black" class="lead">https://www.who.int/emergencies/diseases/novel-coronavirus-2019 </p>
            
            <h3>How can I get involved in this project and share my experience?</h3>
			<p style="color:black" class="lead">You can share your story of what it was like for you to have coronavirus (Covid-19) by visiting the Take Part section, where you will find instructions on how to either send your video to us or write your story. </p>
            
            <h3>Is this project medically or scientifically backed?</h3>
			<p style="color:black" class="lead">This project is not medically or scientifically backed. It is purely based on people’s personal experiences and opinions. Please note that the contents of this site should not be treated as medical advice. Seek help from a medical professional if concerned about your health or the health of anyone around you. </p>

            <h3>Why do we ask you to send us your videos using WeTransfer?</h3>
			<p style="color:black" class="lead">We ask you to send us your video using WeTransfer instead of as an email attachment. This is because most email providers have a limit on the size of attachments. The attachment size limit is likely to be smaller than the file size of your video. WeTransfer allows you to send your video to us regardless of its file size.</p>

            <h3>What is the origin of the project?</h3>
			<p style="color:black" class="lead">Covid-19 Stories was set up by British cousins May and Harry. When May grew ill with a suspected case of coronavirus, she was frustrated that there was no way for her to compare her experience with the experiences of others – especially those who had asthma like herself. She approached Harry with an idea for a project to collate stories of people’s experiences fighting the virus. Since then the pair have attended a Techstars Startup Weekend, where they met their new team members Deepak and Mark. Together the four of them are working to expand the reach of Covid-19 Stories and help as many people as possible to unite in the fight against COVID-19. </p>

		  </div>

		</div>
	</section>

{% endblock %}